* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #080808;
    color: #fff;
}

#header {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url(images/background.gif);
    background-size: cover;
    background-position: center;
}

.container {
    padding: 10px 10%;
}

#navBar {
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    background-image: linear-gradient(rgba(8, 8, 8, 1), rgba(8, 8, 8, 1), rgba(8, 8, 8, 1), rgba(8, 8, 8, 1), rgba(8, 8, 8, 1), rgba(8, 8, 8, 1), rgba(8, 8, 8, 0));
    z-index: 1;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff00d4;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

.header-text {
    margin-top: 30%;
    font-size: 30px;
}

.header-text h1 {
    font-size: 60px;
    margin-top: 20px;
}

.header-text h1 span {
    color: #ff7ce9;
}

/* ---------- About ---------- */
#about {
    padding: 80px 0;
    color: #ababab;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%;
}

.circular--portrait {
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 50%;
}

.circular--portrait img {
    width: 100%;
    height: auto;
}

.about-col-2 {
    flex-basis: 60%;
}

.sub-title {
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    color: white;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff00d4;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after {
    width: 50%;
}

.tab-contents ul li {
    margin: 10px 0;
}

.noStyle {
    list-style: none;
}

.eduDes {
    font-size: 14px;
    margin-left: 40px;
}

.tab-contents ul li span {
    color: #ff7ce9;
    font-size: 14px;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

/* ---------- Personal Projects ---------- */
#personalProjects {
    padding: 30px 0;
}

.projects-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.project {
    position: relative;
    width: 200px;
}

.front {
    transition: 250ms;
}

.front img {
    max-width: 100%;
}

.projImg {
    border-radius: .5em;
}

.projName {
    margin: .75em 0;
}

.projLang {
    font-size: 12px;
    padding-bottom: 10px;
}

.back {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    height: 50%;
    top: 45%;
    left: 0;
    right: 0;
    transform: translateY(35%);
}

.projInfo {
    font-size: 14px;
    vertical-align: middle;
}

.projStatus {
    margin-top: -10px;
    text-align: center;
    font-size: 16px;
    color: #ff7ce9;
}

.projLang2 {
    font-size: 16px;
    margin: .5em 0;
}

.projLinkContainer {
    text-align: center;
    bottom: -20px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.projLink {
    cursor: pointer;
    display: inline-block;
    width: fit-content;
    border: 1px solid #ff7ce9;
    padding: 6px 25px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    transition: background-color 0.5s;
    margin-top: 10px;
}

.projLink:hover {
    background: #ff00d4;
}

.projBackground {
    background: #151515;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    transform: scale(.2, .9);
    opacity: 0;
    border-radius: .5em;
}

.project:hover {
    .front {
        transform: translateY(-40%) scale(.8);
    }

    .projName {
        animation: projectName 250ms forwards;
    }

    .projLang {
        opacity: 0;
    }

    .back {
        opacity: 1;
        visibility: visible;
        transition: transform 250ms ease, opacity 150ms linear;
        transform: translateY(0);
    }

    .projBackground {
        transition: transform 200ms cubic-bezier(.21, 1.06, .81, 1.01), opacity 100ms linear;
        opacity: 1;
        transform: scale(1.4, 1.2);
    }
}

@keyframes projectName {
    0% {
        text-align: left;
        opacity: 1;
    }

    20% {
        text-align: left;
        opacity: 0;
    }

    60% {
        text-align: center;
        opacity: 0;
        transform: scale(1.2);
    }

    100% {
        text-align: center;
        opacity: 1;
        transform: scale(1.2);
    }
}

/* ---------- Capstone Project ---------- */
#csProjInfo {
    margin: 40px 20px 0px
}

.csProjTitle {
    color: #ff7ce9;
}

#csProjAbout {
    font-size: 18px;
    margin-top: 30px;
    margin-left: 60px;
}

#csProjAbout ul li {
    margin-bottom: 4px;
}

#csProjLinkContainer {
    text-align: center;
    margin: 30px auto;
}

/* ---------- Contacts ---------- */
#contacts {
    padding-bottom: 60px;
}

.contact-left {
    flex-basis: 35%;
}

.contact-left p {
    margin-top: 30px;
}

.contact-left p i {
    color: #ff7ce9;
    margin-right: 15px;
    font-size: 25px;
}

.contact-right {
    flex-basis: 60%;
}

.contact-links {
    display: inline-block;
    text-decoration: none;
    color: white;
    overflow: hidden;
}

.contact-p:hover {
    color: #ff00d4;
    text-decoration: none;
}

.contact-p:hover i.fa-brands {
    color: #ff00d4;
}

.btn {
    display: inline-block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff7ce9;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    transition: background-color 0.5s;
}

.btn:hover {
    background: #ff00d4;
}

.btn.btn2 {
    display: inline-block;
    background: #ff00d4;
}

.contact-right form {
    width: 100%;
}

form input, form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: white;
    font-size: 18px;
    border-radius: 6px;
    resize: none;
}

form .btn2 {
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

/* ---------- CSS for small screens ---------- */
nav .fa-solid {
    display: none;
}

@media only screen and (max-device-width: 600px) {
    #header {
        width: 100%;
        height: 22vh;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url(images/background.gif);
        background-size: cover;
        overflow: hidden;
        padding-bottom: 60px;
    }

    #header-text {
        padding-bottom: 50px;
    }

    nav .fa-solid {
        display: block;
        font-size: 25px;
        top: 25px;
        right: 25px;
        text-align: right;
        position: absolute;
    }

    nav ul {
        background: #ff00d4;
        position: fixed;
        top: 0;
        right: 0;
        transform: translateX(200px);
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: transform 250ms ease;
    }

    nav ul li {
        display: block;
        margin: 25px;
    }

    nav ul .fa-solid {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    .sub-title {
        font-size: 60px;
    }

    .about-col-1, .about-col-2 {
        flex-basis: 100%;
    }

    .about-col-1 {
        margin-bottom: 30px;
    }

    .circular--portrait {
        position: relative;
        width: 70%;
        height: 600px;
        overflow: hidden;
        border-radius: 15px;
        margin: auto;
    }

    .circular--portrait img {
        width: 100%;
        height: auto;
    }

    .about-col-2 {
        font-size: 14px;
    }

    .tab-links {
        font-size: 36px;
        margin-right: 20px;
    }

    .projects-list {
        display: block;
    }

    .project {
        width: 70%;
        margin: auto;
    }

    .contact-left, .contact-right {
        flex-basis: 100%;
    }

    .contact-left p {
        margin-left: 20px;
    }

    .downloadBtn {
        text-align: center;
    }
}

#msg {
    color: #ff7ce9;
    margin-top: -40px;
    display: block;
}
