body {
    background-color: black;
    font-family: 'Poppins', sans-serif;
    /* color: #ffffff; */
}

#titleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px;
}

h1 {
    margin-left: 15px;
    position: relative;
    font-size: 30px;
    letter-spacing: 15px;
    color: #ff7ce9;
    width: 100%;
    text-align: center;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
    line-height: 0.70em;
    outline: none;
    animation: flicker 3s linear infinite;
}

@keyframes flicker {
    0%, 18%, 20%, 50.1%, 60%, 65.1%, 80%, 90.1%, 92% {
        color: #ff7ce9;
        text-shadow: none;
    }

    18.1%, 20.1%, 30%, 50%, 60.1%, 65%, 80.1%, 90%, 92.1%, 100% {
        color: white;
        text-shadow: 
            0 0 10px #ff00d4,
            0 0 20px #ff00d4,
            0 0 40px #ff00d4,
            0 0 80px #ff00d4,
            0 0 160px #ff00d4;
    }
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 415px;
    width: 415px;
    overflow: hidden;
}

#box::before {
    content: '';
    position: absolute;
    width: 150px;
    height: 150%;
    background: rgb(162, 0, 162);
    animation: spin 6s linear infinite;
}

#box::after {
    content: '';
    position: absolute;
    inset: 4px;
    background: black;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#board {
    z-index: 10;
    border: 3px solid;
}

#scoreText {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 20px;
    color: white;
}

#scorePoints {
    font-size: 30px;
    color: white;
}

#resetBtn {
    font-size: 22px;
    color: #ff00d4;
    letter-spacing: 0.1em;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    border: #ff00d4 0.125em solid;
    border-radius: 0.25em;
    padding: 0.25em 1em;
    text-shadow: 
        0 0 0.125em hsl(0 0% 100% / 0.3),
        0 0 0.45em #ff00d4;
    box-shadow: 
        inset 0 0 0.5em #ff00d4,
        0 0 0.5em #ff00d4;
    position: relative;
}

#resetBtn::before {
    pointer-events: none;
    content: '';
    position: absolute;
    background: #ff00d4;
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;
    transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
    filter: blur(1em);
    opacity: 0.7;
}

#resetBtn::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 2em 0.5em #ff00d4;
    opacity: 0;
    background: #ff00d4;
    z-index: -1;
    transition: opacity 100ms linear;
}

#resetBtn:hover, #resetBtn:focus {
    color: black;
    text-shadow: none;
}

#resetBtn:hover::before, #resetBtn:focus::before {
    opacity: 1;
} 

#resetBtn:hover::after, #resetBtn:focus::after {
    opacity: 1;
}

.backButton {
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
    background: white;
    color: white;
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 0.1em;
    font-weight: 400;
    padding: 10px 30px;
    transition: 0.5s;
}

.backButton:hover {
    color: #ff00d4;
    background: #ff00d4;
    box-shadow: 0 0 35px #ff00d4;
    letter-spacing: 0.25em;
}

.backButton:before {
    content: '';
    position: absolute;
    inset: 2px;
    background: black;
}

.backButton span {
    position: relative;
    z-index: 1;
}

.backButton i {
    position: absolute;
    inset: 0;
    display: block;
}

.backButton i::before {
    content: '';
    position: absolute;
    top: 0;
    left: 80%;
    width: 10px;
    height: 4px;
    background: black;
    transform: translateX(-50%) skewX(325deg);
    transition: 0.5s;
}

.backButton:hover i::before {
    width: 20px;
    left: 20%;
}

.backButton i::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 20%;
    width: 10px;
    height: 4px;
    background: black;
    transform: translateX(-50%) skewX(325deg);
    transition: 0.5s;
}

.backButton:hover i::after {
    width: 20px;
    left: 80%;
}