body {
    background-color: black;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

@keyframes slideInTop {
    0% { transform: translateY(-400px) scale(2,2); opacity: 0; display: none; }
    75% { transform: translateY(0px) scale(1,1); opacity: 1; }
    100% { transform: translateY(0px) scale(1,1); opacity: 1; }
}

@keyframes slideInBottom {
    0% { transform: translateY(400px) scale(2,2); opacity: 0; display: none; }
    75% { transform: translateY(0px) scale(1,1); opacity: 1; }
    100% { transform: translateY(0px) scale(1,1); opacity: 1; }
}

@keyframes slideOutTop {
    0% { opacity: 1; }
    50% { transform: translateY(-200px); opacity: 1; }
    100% { transform: translateY(-400px) scale(2,2); opacity: 0; display: none; }
}

@keyframes slideOutBottom {
    0% { opacity: 1; }
    50% { transform: translateY(200px); opacity: 1; }
    100% { transform: translateY(400px) scale(2,2); opacity: 0; display: none; }
}

@keyframes zoomIn {
    0% { transform: scale(1,1); }
    50% { transform: scale(1,1); }
    100% { transform: scale(2,2); }
}

@keyframes zoomOut {
    0% { transform: scale(2,2); }
    75% { transform: scale(1,1); }
    100% { transform: scale(1,1); }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeOut {
    0% { opacity: 1; }
    75% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes loading {
    0% {  }
    25% { transform: rotate(260deg); }
    50% { transform: rotate(240deg); }
    75% { transform: rotate(320deg); }
    100% { transform: rotate(300deg); }
}

@keyframes loading2 {
    0% {  }
    50% { transform: rotate(-50deg); }
    100% { transform: rotate(20deg); }
}

@keyframes loading3 {
    0% {  }
    100% { transform: rotate(-100deg); }
}

@keyframes loading4 {
    0% {  }
    50% { transform: rotate(260deg); }
    100% { transform: rotate(200deg); }
}

@keyframes rev-block {
    0% { left: 0; width: 0%; }
    50% { left: 0; width: 50%; }
    100% { left: 50%; width: 0%; }
}
  
@keyframes appear-text {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes buttonFadeIn {
    0% { opacity: 0; visibility: hidden; }
    100% { opacity: 0.5; visibility: visible; }
}

@keyframes menuButtonFadeIn {
    0% { opacity: 0; visibility: hidden; }
    100% { opacity: 1; visibility: visible; }
}

@keyframes slideLeft {
    0% { margin-left: 525px; }
    65% { margin-left: 375px; }
    100% { margin-left: 375px; }
}

@keyframes slidein {
    0% { margin-left: -500px; }
    50% { margin-left: 25px; }
    100% { margin-left: 25px; }
}

#menu {
    display: flex;  
    justify-content: center;
    align-items: center;
    z-index: 15;
}

#searchMenu {
    display: flex;  
    justify-content: center;
    align-items: center;
    z-index: 15;
}

#search {
    opacity: 0;
    animation: buttonFadeIn 2s 3s ease forwards;
    position: absolute;
    z-index: 50;
    margin-top: 100px;
    width: 100%;
    max-width: 700px;
    background: rgba(255, 255, 255, 0.6);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
}

#search input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 10px 6px;
    font-size: 20px;
    color: #525254;
}

::placeholder {
    color: #525254;
}

#search button {
    border: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: rgba(147, 147, 147, 0.2);
    cursor: pointer;
}

/* #noResult {
    display: flex;  
    justify-content: center;
    align-items: center;
    z-index: 15;
}

#errorMessage {
    opacity: 0;
    animation: buttonFadeIn 2s 3s ease forwards;
    position: absolute;
    z-index: 50;
    margin-top: 300px;
    font-size: 18px;
    font-family: "Franklin Gothic Medium";
} */

.hidden {
    display: none;
}

#pokedexLogo {
    position: absolute;
    margin-top: 150px;
    max-width: 25%;
    max-height: 25%;
    z-index: 15;
    opacity: 0;
    animation: appear-text 5s 2.5s ease forwards;
}

.menuButton {
    margin-top: 500px;
    opacity: 0;
    position: absolute;
    z-index: 50;
    width: 240px;
    height: 40px;
    background: #ffffff;
    color: #000000;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 25%;
    border: none;
    text-decoration: none;
    visibility: hidden;
    font-size: 18px;
    /* font-family: "Franklin Gothic Medium"; */
}

.menuButton:hover {
    background: #c9c9c9;
    color: #000000;
}

.menuButton:hover .button{
    visibility: visible;
    transition: visibility 0s 6s;
}

#dexButton {
    animation: menuButtonFadeIn 2s 2.8s ease forwards;
}

#searchButton {
    margin-bottom: -115px;
    animation: menuButtonFadeIn 2s 3.1s ease forwards;
}

.button {
    opacity: 0;
    animation: buttonFadeIn 2s 4s ease forwards;
    position: absolute;
    z-index: 50;
    width: 50px;
    height: 50px;
    background: #f0faff;
    color: #adb5ba;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    text-decoration: none;
    visibility: hidden;
}

.button:hover {
    background: #b5b9bc;
    color: #f0faff;
}

.button:hover .button{
    visibility: visible;
    transition: visibility 0s 6s;
}

#prevButton {
    top: 50%;
    left: 15%;
}

#NextButton {
    top: 50%;
    right: 15%;
}

#homeButton {
    border-radius: 15%;
    width: 60px;
    height: 30px;
    margin-top: 90px;
    left: 15%;
    animation: menuButtonFadeIn 2s 4s ease forwards;
    /* font-family: "Franklin Gothic Medium"; */
}

#home-top {
    animation: slideInTop 1s ease forwards, slideOutTop 2s 1s ease forwards;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    z-index: 30;
}

#home-bottom {
    animation: slideInBottom 1s ease forwards, slideOutBottom 2s 1s ease forwards;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    z-index: 20;
    overflow: hidden;
}

#pokedex-top {
    animation: slideInTop 2s ease forwards, slideOutTop 2s 2s ease forwards;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    z-index: 30;
}

#pokedex-bottom {
    animation: slideInBottom 2s ease forwards, slideOutBottom 2s 2s ease forwards;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    z-index: 20;
    overflow: hidden;
}

#home-background {
    animation: zoomOut 1s ease forwards, zoomIn 2s 1s ease forwards;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    z-index: 10;
    overflow: hidden;
}

#background {
    animation: zoomOut 2s ease forwards, zoomIn 2s 2s ease forwards;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    z-index: 10;
    overflow: hidden;
}

/* .aaa {
    text-align: center;
    position: absolute;
    margin: auto;
    margin-top: 200px;
    width: 100%;
    z-index: 20;
}

#a1 {
    font-size: 50px;
    opacity: 0;
    animation: fadeIn 2s 3s ease forwards;
}

#a2 {
    font-size: 15px;
    opacity: 0;
    margin-top: -55px;
    margin-left: -40px;
    animation: fadeIn 2s 3.5s ease forwards;
}

#a3 {
    font-size: 15px;
    opacity: 0;
    margin-top: -32px;
    margin-left: 50px;
    animation: fadeIn 2s 3.8s ease forwards;
} */

.pokemon {
    position: absolute;
    margin: auto;
    margin-top: 200px;
    margin-left: 100px;
    z-index: 15;
}

#idWrap {
    display: inline-block;
    white-space: nowrap;
    position: absolute;
}

#pId {
    z-index: 15;
    opacity: 0;
    position: absolute;
    animation: appear-text 5s 2s ease forwards, slideLeft 2s 3.5s ease forwards;
    font-size: 50px;
    /* font-family: "Franklin Gothic Medium"; */
    margin-left: 525px;
    margin-top: -75px;
    margin-bottom: 100px;
}

#nameWrap {
    display: inline-block;
    overflow: hidden;
    position: relative;
    left: 505px;
    margin-top: -75px;
    height: 100px;
    width: 300px;
}

#pName {
    z-index: 15;
    margin-left: -500px;
    position: absolute;
    animation: slidein 7s ease forwards;
    animation-delay: 3.3s;
    font-size: 50px;
    /* font-family: "Franklin Gothic Medium"; */
}

/* #pName {
    opacity: 0;
    animation: appear-text 2s linear forwards;
    animation-delay: 3.2s;
    font-size: 50px;
    font-family: "Franklin Gothic Medium";
    margin-left: 375px;
    margin-top: -75px;
    margin-bottom: 100px;
} */

/* #nameCover {
    overflow: hidden;
    opacity: 0;
    animation: appear-text 0.0001s linear forwards;
    animation-delay: 3.2s;
    font-size: 50px;
    font-family: "Franklin Gothic Medium";
    padding: 5px;
    margin-left: 375px;
    margin-top: -175px;
    margin-bottom: 175px;
    z-index: 16;
}

#nameCover:after {
    overflow: hidden;
    content: '';
    margin-left: 375px;
    margin-bottom: 100px;
    position: absolute;
    width: 0%;
    height: 75px;
    background: #f0faff;
    animation: rev-block 1.5s cubic-bezier(0.5, 1, 0.2, 1) forwards;
    animation-delay: 3.2s;
} */

#pImg {
    opacity: 0;
    animation: fadeIn 2s 2s ease forwards;
    position: absolute;
    left: 400px;
    max-width: 300px;
    max-height: 300px;
}

#type1 {
    opacity: 0;
    animation: fadeIn 2s 2.5s ease forwards;
    position: absolute;
    left: 700px;
    top: 15px;
    max-width: 85px;
    max-height: 85px;
}

#type2 {
    opacity: 0;
    animation: fadeIn 2s 2.8s ease forwards;
    position: absolute;
    left: 790px;
    top: 15px;
    max-width: 85px;
    max-height: 85px;
}

.loading {
    position: absolute;
    margin: auto;
    margin-left: -10px;
    margin-top: 320px;
    width: 100%;
    z-index: 14;
}

#l1 {
    animation: loading 2s ease forwards, fadeOut 2s ease forwards;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin-left: -200px;
    margin: auto;
    max-width: 400px;
    max-height: 400px;
}

#l2 {
    animation: loading2 2s ease forwards, fadeOut 2s ease forwards;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    max-width: 400px;
    max-height: 400px;
}

#l3 {
    animation: loading3 2s ease forwards, fadeOut 2s ease forwards;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    max-width: 400px;
    max-height: 400px;
}

#l4 {
    animation: loading4 2s ease forwards, fadeOut 2s ease forwards;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    max-width: 400px;
    max-height: 400px;
}
